[
    {kernel, [
        {error_logger, {file, "log/kernel.log"}}
    ]},

    %% rotating log and minimal tty
    {sasl, [
        {sasl_error_logger, {file, "log/sasl.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"}, % define the parameters of the rotating log
        {error_logger_mf_maxbytes, 10485760}, % bytes per logfile 10 MB 10485760
        {error_logger_mf_maxfiles, 100} % maximum number of logfiles
    ]}
].