{erl_opts, [native, {hipe, o3}, fail_on_warning]}.

{deps, [{cowboy, {git, "git://github.com/ninenines/cowboy.git",
    {tag, "2.0.0-pre.3"}}},
    {erlsom, {git, "git://github.com/willemdj/erlsom.git", {tag, "v1.4.1"}}},
    {eredis, {git, "git://github.com/wooga/eredis.git", {tag, "v1.0.8"}}},
    {ecsv, {git, "git://github.com/rcouch/ecsv.git", {tag, "0.3"}}},
    {uuid, {git, "git://github.com/okeuday/uuid.git", {tag, "v1.5.1.1"}}},
    {proper, {git, "git://github.com/manopapad/proper.git", {tag, "v1.2"}}},
    {meck, {git, "git://github.com/eproxus/meck.git", {tag, "0.8.4"}}},
    {elib, {git, "git://github.com/shuieryin/elib.git", {tag, "0.1.0"}}}
]}.

{relx, [{release, {wechat_mud, "0.2.0"},
    [sasl, wechat_mud,
        {observer, load},
        {elib, load},
        {wx, load},
        {runtime_tools, load},
        {dialyzer, load}]},
    {dev_mode, false},
    {include_erts, true},
    {system_libs, false},
    {extended_start_script, true},
    {vm_args, "config/vm.args"},
    {sys_config, "config/sys.config"},
    {overlay, [{mkdir, "log/sasl"}, {copy, "priv", "priv"}]}]}.

{profiles, [{prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]}]}.

{plugins, [{ehcu, {git, "https://github.com/shuieryin/ehcu.git",
    {branch, "master"}}}]}.

{minimum_otp_vsn, "18.1"}.

