{erl_opts, [
%%     no_debug_info,
    fail_on_warning
]}.

{deps, [
    {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", "master"}},
    {erlsom, ".*", {git, "git://github.com/willemdj/erlsom.git", "master"}},
%%     {ezwebframe, ".*", {git, "git://github.com/joearms/ezwebframe.git", "master"}}
    {eredis, ".*", {git, "git://github.com/wooga/eredis.git", "master"}},
    {ecsv, ".*", {git, "git://github.com/rcouch/ecsv.git", "master"}}
]}.