{erl_opts, [
%%     no_debug_info,
    native,
    {hipe, o3},
    fail_on_warning
]}.

{deps, [
    {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "master"}}},
    {erlsom, {git, "git://github.com/willemdj/erlsom.git", {tag, "master"}}},
    {eredis, {git, "git://github.com/wooga/eredis.git", {tag, "master"}}},
    {ecsv, {git, "git://github.com/rcouch/ecsv.git", {tag, "master"}}},
    {uuid, {git, "git://github.com/okeuday/uuid", {tag, "master"}}}
]}.

{relx, [
    {release, {
        wechat_mud, %% app-name-marker
        "0.1.0" %% release-version-marker
    }, [sasl, wechat_mud]},
    {dev_mode, false},
    {include_erts, true},
    {system_libs, false},
    {extended_start_script, true},
    {vm_args, "config/vm.args"},
    {sys_config, "config/sys.config"},
    {overlay, [
        {mkdir, "log/sasl"},
        {copy, "priv", "priv"}
    ]}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.

{plugins, [
    {relflow, {git, "https://github.com/RJ/relflow.git", {branch, "master"}}}
]}.

{minimum_otp_vsn, "18.1"}.
